<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="mt-5 col-10 offset-1">
            <h3 class="error_message_value">
                <%= message %>
            </h3>
        </div>
    </div>