body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;

}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    height: 9rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links {
    width: 100%;
    text-align: center;
}

.f-info-socials {
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    margin: 0.5rem 0.5rem 0;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 0.8rem !important;
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.1;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edt-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 40vh;
}

.btns {
    display: flex;
}

/* Error Page */
.error_message_value {
    text-align: center;
    color: #222222;
    font-size: 2rem;
}


/* Map Styling */
#map {
    height: 45vh;
    width: 100vh;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


/* Hide tax info by default on page load */
.tax-info {
    display: none;
}

/* Ensure both occupy the same space */
.price,
.tax-info {
    margin: 0;
    padding: 0;
}



/* Search Bar Buttons */
.btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 1.5rem !important;
    border: none !important;
    padding: 0.5rem 1rem;
}

.btn-search i {
    display: inline;
}

.searchbar {
    width: 22rem !important;
    /* Adjust this value to increase length */
    border-radius: 1.5rem !important;
    /* Matches the rounded look in your screenshot */
    padding: 0 1rem 0 1rem !important;
}